* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    background-color: #191919;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portfolio {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}

.portfolio span {
    color: #f9004d;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: #f9004d;
    transition: 0.5s;
}

.link-menu {
    text-decoration: none;
    color: white;
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 7%;
}

h1 {
    color: white;
    font-size: 75px;
}

h1 span {
    color: #f9004d;
}

.meu-nome h3 {
    color: white;
    font-size: 25px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 15%;
    background-color: #000000;
}

section img {
    height: 400px;
    border-radius: 100%;
    border: 2px solid #f9004d;
    margin-right: 30px;
}

section div h2 {
    color: white;
    font-size: 75px;
}

section div p {
    color: #e2b9c6;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 60px;
}

section div button {
    color: white;
    background: #f9004d;
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

section div button:hover {
    background-color: black;
    border: 3px solid #f9004d;
    transition: 0.5s;
}

.projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
}

.projetos h2 {
    color: white;
    font-size: 75px;
    text-align: center;
}

.card {
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card img {
    height: 100px;
}

.card h5 {
    color: white;
    font-size: 24px;
}

.card p {
    color: #e2b9c6;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #f9004d;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

footer {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: white;
    font-size: 30px;
}

footer p {
    color: white;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.social {
    display: flex;
    gap: 20px;
}

.social img {
    height: 24px;
    border-radius: 50%;
}

.social a {
    background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;
}